<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VAExtensionWorks" connectionString="metadata=res://*/VAWorks.csdl|res://*/VAWorks.ssdl|res://*/VAWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.118.11.99;initial catalog=VAExtension;user id=sa;password=sasasasa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="bindingConfiguration1" maxReceivedMessageSize="2147483647">
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="VAWcfService.ServiceWorks" behaviorConfiguration="serviceBehav">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="bindingConfiguration1" behaviorConfiguration="restfulBehaviour" contract="VAWcfService.IServiceWorks" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="VAWcfService.ServiceWorksFile" behaviorConfiguration="serviceBehav">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="bindingConfiguration1" behaviorConfiguration="restfulBehaviour" contract="VAWcfService.IServiceWorksFile" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="VAWcfService.ServiceUser" behaviorConfiguration="serviceBehav">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="bindingConfiguration1" behaviorConfiguration="restfulBehaviour" contract="VAWcfService.IServiceUser" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehav">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"  />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>