<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SqlProviderVS" connectionString="Database=VA_VS;Server=202.118.11.99;User ID=sauser;Password=Ccc2019sa;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>