<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="emailDisplayName" value ="《新通用大学英语》教材修订"/>
    <add key="emailTitle" value ="您在《新通用大学英语》教材修订中有任务即将开始，请及时处理！"/>
    <add key="emailBody" value ="任务名称：{0};开始时间：{1};结束时间：{2};文档名称：{3}"/>
    <add key="emailTitle1" value ="您在《新通用大学英语》教材修订中有任务即将结束，请及时处理！"/>
    <add key="emailBody1" value ="任务名称：{0};开始时间：{1};结束时间：{2};文档名称：{3}"/>

    <add key="siteUrl" value="http://ismartweb/flhtest1"/>
    <add key="taskDocField" value ="前置任务"/>
    <add key="TaskName" value="mytask"/>
  </appSettings>
</configuration>