  .group::after, .tabBlock-tabs::after {
    clear: both;
    content: "";
    display: table;
  }

  .unstyledList, .tabBlock-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tabBlock {
    margin: 0 0 2.5rem;
  }

  .tabBlock-tab {
    background-color: white;
    border-color: #d8d8d8;
    border-left-style: solid;
    border-top: solid;
    border-width: 2px;
    color: #899BB5;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    float: left;
    padding: 0.625rem 1.25rem;
    position: relative;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .tabBlock-tab:last-of-type {
    border-right-style: solid;
  }
  .tabBlock-tab::before, .tabBlock-tab::after {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .tabBlock-tab::before {
    background-color: #899BB5;
    left: -2px;
    right: -2px;
    top: -2px;
  }
  .tabBlock-tab::after {
    background-color: transparent;
    bottom: -2px;
    left: 0;
    right: 0;
  }
  @media screen and (min-width: 700px) {
    .tabBlock-tab {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  .tabBlock-tab.is-active {
    position: relative;
    color: #0072C6;
    z-index: 1;
  }
  .tabBlock-tab.is-active::before {
    background-color: #0072C6;
  }
  .tabBlock-tab.is-active::after {
    background-color: white;
  }

  .tabBlock-content {
    background-color: white;
    border: 2px solid #d8d8d8;
    padding: 1.25rem;
    max-width:420px;
    text-align:center;
  }

  .tabBlock-pane > :last-child {
    margin-bottom: 0;
  }